<div class="reveal">

	<!-- Any section element inside of this container is displayed as a slide -->
	<div class="slides">

		<section>
			<table>
				<tr>
					<td width="40%">
						<small>
							<table class="data">
								<thead>
								<tr><th>Year</th><th colspan="2">lines</th><th>files</th></tr>
								<tr><th></th><th>added</th><th>removed</th><th></th></tr>
								</thead>
								<tbody>
								<tr><td>2007</td><td>53358</td><td>0</td><td>455</td></tr>
								<tr><td>2008</td><td>46163</td><td>25976</td><td>250</td></tr>
								<tr><td>2009</td><td>6920</td><td>9926</td><td>145</td></tr>
								<tr><td>2010</td><td>3765</td><td>3518</td><td>64</td></tr>
								<tr><td>2011</td><td>7069</td><td>13843</td><td>164</td></tr>
								<tr><td>2012</td><td>2453</td><td>2264</td><td>41</td></tr>
								<tr><td>2013</td><td>100</td><td>80</td><td>16</td></tr>
								<tr><td>2014</td><td>63157</td><td>56220</td><td>837</td></tr>
								<tr><td>2015</td><td>70773</td><td>63644</td><td>615</td></tr>
								<tr><td>2016</td><td>109</td><td>15</td><td>11</td></tr>
								<tr><td>EAP</td><td>39907</td><td>37042</td><td>417</td></tr>
								</tbody>
							</table>
						</small>
					</td>
					<td width="60%">
						<svg class="lineChart">&nbsp;</svg>
					</td>
				</tr>
			</table>
		</section>

		<section>
			<h1>Introduction and future</h1>

			<h3>E-Commerce in TYPO3 with EXT:commerce</h3>

			<p>
				<small>Sebastian Fischer / <a href="http://www.twitter.com/garbast">@garbast</a></small>
			</p>
		</section>

		<section>
			<h2>About me</h2>

			<ul>
				<li>TYPO3 Developer since February 2004</li>
				<li>Twitter: <a href="http://www.twitter.com/garbast">@garbast</a></li>
				<li>Email: <a href="mailto:typo3@evoweb.de">typo3@evoweb.de</a></li>
				<li>Working for <a href="https://www.marketing-factory.de/">Marketing Factory Consulting GmbH</a> since
					5 years
				</li>
			</ul>
		</section>

		<section>
			<h2>About MFC</h2>

			<ul>
				<li>Platinum member der association</li>
				<li>Organizator and Sponsor of TYPO3Camp Essen</li>
				<li>Sends member to the BCC</li>
				<li>Has open positions, look at <a href="https://www.marketing-factory.de/">www.marketing-factory.de</a></li>
			</ul>

			<aside class="notes">
				Business-Controll-Commitee
			</aside>
		</section>

		<section>
			<h2>Fully integrated shop... ?</h2>

			<p>Yes we only play with TYPO3.</p>

			<p>The focus is only on the TYPO3 needs.</p>

			<p>The shop cant be used with other systems.</p>
		</section>

		<section>
			<h2>... for developers</h2>

			<ul>
				<li>based on the core API</li>
				<li>use of same database link</li>
				<li>extendability with ext:extender</li>
				<li>hooks every where</li>
				<li>xclassing if realy realy needed (yuck)</li>
			</ul>

			<aside class="notes">
				autoloading provided by the core,
				TCA, usable in own extensions
			</aside>
		</section>

		<section>
			<h2>... for administrators</h2>

			<ul>
				<li>only requirement is a running TYPO3</li>
				<li>
					no extra server/software needed
					<ul>
						<li>no extra database</li>
						<li>no extra system requirements</li>
					</ul>
				</li>
				<li>
					no need of maintaining other systems
					<ul>
						<li>no security concerns other then TYPO3</li>
					</ul>
				</li>
			</ul>
		</section>

		<section>
			<h2>... for integrators</h2>

			<ul>
				<li>full controll with TypoScript</li>
				<li>no external urls to configure</li>
				<li>no api key or login hassel</li>
				<li>business as usual for extension configuration</li>
				<li>access controll on backend groups</li>
			</ul>
		</section>

		<section>
			<h2>... for editors</h2>

			<ul>
				<li>working enviroment as with normal pages</li>
				<li>only sees what is needed</li>
				<li>controll off visibility like content</li>
				<li>linkable from every link browsable field</li>
			</ul>

			<aside class="notes">
				see only categories and fields
			</aside>
		</section>

		<section>
			<h2>... for enduser</h2>

			<ul>
				<li>seemsless integration in the website</li>
				<li>only needs on login</li>
				<li>no context break while navigating between shop and content pages</li>
			</ul>
		</section>

		<section>
			<h2>What is it good for?</h2>

			<ul>
				<li>website and shop in one system</li>
				<li>multiple thousands of products and articles</li>
				<lI>optimal for in content marketing</lI>
			</ul>
		</section>

		<section>
			<h2>Possible integrations</h2>

			<ul>
				<li>material and/or immaterial goods</li>
				<li>catalog of various kinds</li>
				<li>booking system if extended with seat configurator</li>
				<li>configurable products with multiple attributes</li>
				<li>sales of subscriptions</li>
			</ul>
		</section>

		<!-- add screenshots for each step
			add step by step on a new slide -->
		<section>
			<h2>Features of commerce</h2>

			<ul>
				<li>editing directly in the backend</li>
				<li>modules that are usable like core lists</li>
				<li>category tree for better finding</li>
				<li>products and articles with attributes</li>
				<li>wizard for attribute creation</li>
			</ul>

			<aside class="notes">

			</aside>
		</section>

		<section>
			<h2>Features of commerce</h2>

			<ul>
				<li>language and currencies</li>
				<li>all records are translatable</li>
				<li>scaled prices</li>
				<li>api for payment provider</li>
			</ul>

			<aside class="notes">
				rights like with pages = categories, tt_content = products
			</aside>
		</section>

		<section>
			<h2>Features of commerce</h2>

			<ul>
				<li>rights managment on categories</li>
				<li>asign category section</li>
				<li>full integration in link handling</li>
				<li>
					frontend access
					<ul>
						<li>prices per target group</li>
						<lI>special products for retailer</lI>
					</ul>
				</li>
			</ul>

			<aside class="notes">
				limiting editors to only partualy categories, link wizard, link handler for typolink
			</aside>
		</section>

		<section>
			<h2>Project enviroment</h2>

			<ul>
				<li>started by Marketing Factory, enet Consulting, TypoVision</li>
				<li>since 2014 further Development by Marketing Factory</li>
			</ul>
		</section>

		<section>
			<h2>Numbers</h2>

			<ul>
				<li>since 2007</li>
				<li>downloads 14,567</li>
				<li>35.501 lines of code</li>
				<li>103 open issues</li>
			</ul>

			<aside class="notes">
				32.507 in EAP
			</aside>
		</section>

		<section>
			<small>
				<table>
					<tr>
						<td width="40%">
			<table class="data">
				<thead>
					<tr><th>Year</th><th colspan="2">lines</th><th>files</th></tr>
					<tr><th></th><th>added</th><th>removed</th><th></th></tr>
				</thead>
				<tbody>
					<tr><td>2007</td><td>53358</td><td></td><td>455</td></tr>
					<tr><td>2008</td><td>46163</td><td>25976</td><td>250</td></tr>
					<tr><td>2009</td><td>6920</td><td>9926</td><td>145</td></tr>
					<tr><td>2010</td><td>3765</td><td>3518</td><td>64</td></tr>
					<tr><td>2011</td><td>7069</td><td>13843</td><td>164</td></tr>
					<tr><td>2012</td><td>2453</td><td>2264</td><td>41</td></tr>
					<tr><td>2013</td><td>100</td><td>80</td><td>16</td></tr>
					<tr><td>2014</td><td>63157</td><td>56220</td><td>837</td></tr>
					<tr><td>2015</td><td>70773</td><td>63644</td><td>615</td></tr>
					<tr><td>2016</td><td>109</td><td>15</td><td>11</td></tr>
					<tr><td>EAP</td><td>39907</td><td>37042</td><td>417</td></tr>
				</tbody>
			</table>
						</td>
						<td width="60%">
							<svg class="diagram" data-type="lines">&nbsp;</svg>
						</td>
					</tr>
				</table>
			</small>

			<aside class="notes">
				240 hours in 2014 for restructure,
				140 hours in 2015 for namespaces
			</aside>
		</section>

		<section>
			<h2>Current version</h2>

			<iframe src="http://dev62.dev/typo3/"></iframe>
		</section>

		<section>
			<h2>Upcoming version</h2>

			<iframe src="http://dev70.dev/typo3/"></iframe>
		</section>

		<section>
			<h2>What could be done</h2>

			<ul>
				<li>FAL integration</li>
				<li>ext:fluid templates</li>
				<li>statistics with google analytics</li>
				<li>deliver with various payment provider</li>
				<li>
					fix order handling
					<ul>
						<li>reenable email sending on status change</li>
					</ul>
				</li>
				<li>improvement of workspaces integration</li>
				<li>installation tutorial</li>
			</ul>
		</section>

		<section>
			<h2>EAP goodie</h2>
			<h4>Support based on contribution</h4>

			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</section>

		<section>
			<h2>How to contribute</h2>

			<ul>
				<li>testing / debugging</li>
				<li>reporting issues</li>
				<li>fixing issues</li>
				<li>translating labels</li>
				<li>speak about commerce</li>
				<li>monetary support</li>
			</ul>

			<aside class="notes">
				linking, tweeting, blogging
			</aside>
		</section>

		<section>
			<h2>Questions</h2>
		</section>

		<section>
			<h2>Thank you</h2>

			<p>for your time and patience</p>

			<p>have a great event</p>
		</section>

		<section>
			<h2>Links</h2>

			<ul>
				<li><a href="">Info paper</a></li>
				<li><a href="">Additional features</a></li>
				<li><a href="https://typo3.slack.com/messages/commerce/">#commerce</a> on Slack</li>
				<li><a href="https://packagist.org/packages/commerceteam/commerce">Packagist</a></li>
				<li><a href="https://github.com/CommerceTeam/commerce">Repository</a></li>
				<li><a href="https://github.com/CommerceTeam/commerce/issues">Issues</a></li>
			</ul>
		</section>

	</div>

</div>